html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#main-background{
  background-image: url('')
}


/* space page styling  */

.nav-space{
  background-color: black;
  display: flex;
  color: white;
  padding: 5px;
  padding-right: 5%;
  border: 1px solid blue;
}

#space-link{
  border: 1px solid white;
  width: 200px;
  text-align: center;
}

#space-link:hover{
  border: 1 px solid white;
  width: 200px;
  text-align: center;
  color:aqua;
}

#score-space{
  margin: 0 auto;
  margin-left: 45%;
}