html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.main{
  height: 333px;
}

.col{
  height: 500px;
  border: 1px solid black;
  margin-top: 5px;
}

#col-left{
  height: max-content;
}

#col-middle{
  background-image: url(/map.png);
  height: max-content;
  color: white;
}


/* space page styling  */

.nav-space{
  background-color: black;
  display: flex;
  color: white;
  padding: 5px;
  padding-right: 5%;
  border: 1px solid blue;
}

#space-link{
  border: 1px solid white;
  width: 200px;
  text-align: center;
}

#score-space{
  margin: 0 auto;
  margin-left: 48%;
}